<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New User</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'dash_app/dash_app.css' %}">

</head>

<body>
    <div class "container">
        <nav class="navbar navbar-custom">
            <div class="navbar-header col-2">
                <a class="navbar-brand" href="/show/user/{{request.session.id}}">
                    <p class="dashlink m-0">Dash App</p>
                </a>
            </div>
            <ul class="nav navbar-nav col-1 text-center">
                <li class="active">
                    <a href="/show/user/{{request.session.id}}" class="white">Wall</a>
                </li>
            </ul>
            <ul class="nav navbar-nav col-2 text-center">
                <li class="active">
                    <a href="/dashboard" class="white">Dashboard</a>
                </li>
            </ul>
            <ul class="nav navbar-nav col-1 text-center">
                <li class="active">
                    <a href="/users/edit" class="white">Profile</a>
                </li>
            </ul>
            <ul class="nav navbar-nav col-6">
                <li class="text-right">
                    <a href="/logout" class="white">Log off</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="container p-3">
        {% if messages %} {% for message in messages %}
        <div class="alert alert-danger">{{message}}</div>
        {% endfor %} {% endif %}
        <h3>Warning! You are about to delete the following user record:</h3>
        <div class="row">
            <p class="mr-3 under">User ID:</p>
            <p>{{user.id}}</p>
        </div>
        <div class="row">
            <p class='mr-3 under'>User Name:</p>
            <p>{{user.first_name}} {{user.last_name}}</p>
        </div>
        <div class="row">
            <a href="/dashboard/admin"><button class="btn btn-secondary">No, I don't want to delete this record</button></a>
            <form action="/remove/{{user.id}}" class='ml-3' method="post">
                {% csrf_token %}
                <div class="form-group button">
                    <input type="submit" class="btn btn-danger" name="submit" value="Yes, I want to delete this record">
                </div>
            </form>
        </div>
    </div>
</body>

</html>